<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Post list!</h1>
    <div>
        <p>published: 12.11.2019, 14,38</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto delectus distinctio dolore dolorem dolorum eius expedita, fugit illo illum inventore molestias, nihil nulla omnis praesentium repellendus sed sunt vero!</p>

    </div>
    <div>
        <p>published: 12.11.2019 14:39</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis eligendi magni necessitatibus veritatis! Amet aspernatur at commodi corporis dicta, excepturi, magnam odit omnis quod repellat sed veniam veritatis voluptatum?</p>
    </div>
</body>
</html>